.shrink-container {
    display: flex;
    border: 1px solid black;
    width: 450px;
    height: 60px;
}
.items {
    background-color: green;
    margin: 4px;
    color: white;
    text-align: center;
    font-size: 24px;
}
.s-1 {
    flex-shrink: 1;
}
.fg-1 {
    flex-grow: 1;
}
